# Data Science Tool and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
<ol>
<li>Python</li>
<li>SQL</li>
<li>Julia</li>
</ol>
Some of the commonly used libraries used by Data Scientists include:
<ol>
<li>Pandas</li>
<li>NumPy</li>
<li>Keras</li>
</ol>

|Data Science Tools|
|------------------|
|Apache Hadoop|
|Tensor Flow|
|Pandas|
|Jupyter Notebook|

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [7]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

<b>Objectives:</b>

List popular languages for Data Science
<ul>
<li>List popular languages for Data Science</li>
<li>Some of the commonly used libraries used by Data Scientists</li>
<li>Data Science Tools</li>
</ul>

<h2>Author:</h2>
Alex Bandeira